
<div class="container-carrito" style="width: 70%; margin:auto;">
  <h2 style="font-size: 24px; font-weight: bold; color: green; margin-bottom: 16px;">Productos en el carrito</h2>
  <table style="border-collapse: collapse; border: 2px solid green; border-radius: 8px; width: 100%;margin: 70px 0 0 0;">
    <thead>
      <tr style="background-color: green; color: white;">
        <th style="padding: 8px;">Nombre</th>
        <th style="padding: 8px;">Precio</th>
        <th style="padding: 8px;">Cantidad</th>
        <th style="padding: 8px;">Acción</th>
      </tr>
    </thead>
    <tbody>
      <!-- Aquí añadiríamos las filas de productos -->
      <th style="padding: 8px;"></th>
    </tbody>
  </table>
  <div style="display: flex; justify-content: flex-end; margin-top: 16px;">
    <span style="font-weight: bold; font-size: 20px; color: green; margin-right: 16px;">Total:</span>
    <span style="font-weight: bold; font-size: 20px; color: green;">$0</span>
  </div>
  <button style="display: block; margin: auto; margin-top: 32px; border: 2px solid red; border-radius: 8px; padding: 8px 16px; font-size: 20px; font-weight: bold; color: white; background-color: green;">Comprar</button>
</div>