<body>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div>
      <h1>Cover your page.</h1>
      </div>
      <div>
        <p id="p1" class="lead">¡Bienvenido a nuestra tienda en línea! En nuestra tienda vendemos frutas y verduras
          frescas y de alta calidad. Tenemos una amplia variedad de productos orgánicos y locales para elegir. Ofrecemos
          entregas diarias para asegurarnos de que estés recibiendo los productos más frescos posibles. ¡Haz tu pedido
          ahora y disfruta de una comida saludable y deliciosa! ¡Gracias por elegir nuestra tienda!</p>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div>
        <a [routerLink]="['productos']" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Comprar</a>
      </div>
    </main>
  </div>
</body>