<div class="container-bienvenida d-flex vh-100 justify-content-center align-items-center" >
<div class="cover-container d-flex w-50 h-75 pt-lg-5 mx-auto flex-column bg-light bg-opacity-75 rounded ">
  <main class="px-5">

    <div class="bienvenido">
      <p style="font-size: 27px; font-weight: bold; color: rgb(36, 151, 52); padding: 70px 0px 0px 0px;">
        Bienvenido a GreenOrganics</p>
    </div>
    <div class="mensaje">
      <p id="p1" class="lead text-center">¡Bienvenido a nuestra tienda en línea! En nuestra tienda vendemos frutas y verduras
        frescas y de alta calidad. Tenemos una amplia variedad de productos orgánicos y locales para elegir. Ofrecemos
        entregas diarias para asegurarnos de que estés recibiendo los productos más frescos posibles.<br>
        ¡Haz tu pedido ahora y disfruta de una comida saludable y deliciosa! <br>
        ¡Gracias por elegir nuestra tienda!</p>
    </div>
    <div class="boton">
      <button
        style="padding: 10px 20px; border: 2px solid black;border-radius: 5px; background-color: rgb(52, 147, 39); color: black; font-size: 18px;"
        >Comenzar a comprar</button>
    </div>
  </main>
</div>
</div>